// BREAKPOINTS
$xxs: 445px;
$xs: 625px;
$s: 768px;
$ms: 840px;
$m: 960px;
$ml: 1160px;
$l: 1290px;
$xl: 1440px;
$xxl: 1600px;

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;

// COLORS
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

// BOX SHADOW
$shadow-primary: 0 3rem 6rem rgba($color-black, .3);
$shadow-secondary: 0 1.5rem 3rem rgba($color-black, .2);

